@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
	margin: 0;
	padding: 0;
  background: #eeeeee;
	font-family: "OpenSans-Light", sans-serif;
}

.center {text-align: center;}

#main {
  margin-top: 32px;
  padding: 24px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.5);
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.btn-container {
    padding: 16px;
}

@media only screen and (min-width: 768px) {
  #main {
    width: 70%;
    min-height: 50%;
  }

  .container {text-align: center;}
  input[type=text], input[type=password] {width: 40%;}
  button {width: 40%;}
}
